*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn-primary {
  border-radius: 5px;
  background: #f15b22;
  padding: 1rem 2rem;
  border: none;
  color: #fff;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
/* hero section start */

.hero-section {
  height: 70vh;
  width: 100%;
  background-image: url("images/banner2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.hero-content {
  width: 700px;
  padding-right: 17rem;
}
.hero-title {
  color: #151414;
  text-align: right;
  font-family: Work Sans;
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.hero-description {
  color: #444343;
  text-align: right;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-top: 1rem;
}
.hero-btn {
  margin: 1rem 0 0 16.5rem;
}

/* hero section end */

/* main section start */

main {
  width: 1500px;
  margin: 0 auto;
}
main section {
  margin-top: 5rem;
}

/* section-one start */
.section-one {
  display: flex;
  gap: 10rem;
  /* justify-content: space-between; */
  align-items: center;
  padding: 2rem;
}
.section-one-title {
  color: #151414;
  font-family: Work Sans;
  font-size: 40px;
  font-weight: 700;
}
.section-one-description {
  color: var(--dark-02, #444343);
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-top: 1rem;
}
.section-one-list{
    padding-left: 3rem;
    margin: 1rem;
}
.section-one-list li {
  color: #444343;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
/* section-one end */

/* main section end */
